*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}

$secondary:     white;

.fondoInicio{
    background-color: rgb(34,34,34);
    position:top;
    background-attachment: fixed;
}

.indexNav{
    z-index:999;
}

.tamImgHeader{
    width: 8rem;
}

.tamImgServ{
    width: 5rem;
}

.tamImgCte{
    width: 30rem;
}

.tamImgCont{
    width: 4rem;
}

.tamImgGtest{
    width: 4rem;
}

.tamImgFooter{
    width: 2rem;
}

.tamImgContMenu{
    width: 28px;
        }   

.fondoblanco{
    background-color: white;
}

.textJusify{
    text-align: justify;
}

.fondoServicios{
    background-color: rgb(52,58,52);
}

.tarjServicios{
    border: solid;
    border-color: grey;
    border-radius: 20px;
    padding-bottom: 5px;
    background-color: #222222;
    color: white;
}

.fondoEquipo{
    background-color: rgb(52,58,52);
}

.fondoContacto{
    background-color: #222222;
    color: white;
}

.fondoGtest{
    background-color: rgb(52,58,52);
    color:white;
}

.fondoPagCont{
    background-color: rgb(52,58,52);
    color:white;
}

.gap{
    grid-gap: 20px;
}

.altobanner{
    height: 13.5rem;
}


.paleta1 { color: #F277A4; }
.paleta2 { color: #008380; }
.paleta3 { color: #192959; }
.paleta4 { color: #6E30F2; }
.paleta5 { color: #4129D9; }
.paleta6 { color: #503FBF; }
.paleta7 { color: #7162D9; }
.paleta8 { color: #3C74A6; }
.paleta9 { color: #6CD9B1; }
.paleta10 { color: #5ABFAD; }
.paleta11 { color: white;}
.paleta12 { color: #3b3b3b; }
.paleta13 {color: #00d4ff; }
.paleta14 {color: #ffff00;}


@import "../bootstrap/scss/bootstrap";

.offcanvas {
    max-width: 13rem;
    background-color: rgb(35,35,35);
    color: white;
  }

  @media (max-width: 600px) {
      .ocultar{ display: none;}
  }