*{
    margin: 0;
    padding: 0;
}

.fondoInicio{
    background-image: url(./img/fondo.png);
    background-position: center;
}

.fondoverde{
    background-color: #008380;
    color: white;
}

.tamImgHeader{
    width: 10rem;
}

.tamImgServ{
    width: 7rem;
}

.tamImgCont{
    width: 5rem;
}

.tamImgGtest{
    width: 5rem;
}

.tamImgFooter{
    width: 2rem;
}
